!!!
html
  head
    title= title
    link(rel='stylesheet', href='#{settings.web.url}:#{settings.web.port}/extjs/resources/css/ext-all.css')
    
    script(src='/extjs/bootstrap.js',     type='application/javascript')
    script(src='/socket.io/socket.io.js', type='application/javascript')

    script
    
      // Create namespaces for specific components of the application
      Ext.namespace('Ext.bang.data');
      Ext.namespace('Ext.bang.views');
      Ext.namespace('Ext.bang.security');
      Ext.namespace('Ext.bang.util');
      Ext.namespace('Ext.bang.socket');    
      
      var socket = new io.connect('#{settings.web.url}');
      
      socket.on('connection received', function(data) {
        Ext.bang.socket.connection = data;
  
        if(Ext.bang.security.handshake) {
          socket.emit('update handshake', { 
            session_id: Ext.bang.security.session_id,
            handshake: Ext.bang.security.handshake,
            account_id: Ext.bang.security.account_id,
            username: Ext.bang.security.username
          });
        }
      }); 

      Ext.bang.util.run = function(provider, response) {
        var object = Ext.JSON.decode(response.result);
        object.main();
      };
      
      Ext.bang.util.startup = function() {

        Ext.direct.Manager.addProvider({
          url: '/bang/getJS',
          type: 'remoting',
          actions: {
            remotejs: [
              {name: 'getJS',            len: 1},
              {name: 'logMessage',       len: 1},
              {name: 'broadcastMessage', len: 1}
            ]
          }
        });

        remotejs.getJS({ js: 'interface.js', app: 'bang'}, Ext.bang.util.run);
      };

      Ext.require('Ext.direct.*', Ext.bang.util.startup);      

  body!= body
