!!!
html
  head
    title= title
    link(rel='stylesheet', href='#{settings.web.url}:#{settings.web.port}/extjs/resources/css/ext-all.css')
    
    script(src='/extjs/bootstrap.js',     type='application/javascript')
    script(src='/socket.io/socket.io.js', type='application/javascript')
    
    script(src='http://crypto-js.googlecode.com/files/2.3.0-crypto-sha256.js', type='application/javascript')

    script
    
      // Create namespaces for specific components of the application
      Ext.namespace('Ext.bang.views');
      Ext.namespace('Ext.bang.security');
      Ext.namespace('Ext.bang.util');
      Ext.namespace('Ext.bang.socket');    
      
      var socket = new io.connect('#{settings.web.url}');
      
      socket.on('connection received', function(data) {
        Ext.bang.socket = data;
      }); 

      Ext.bang.util.run = function(provider, response) {
        Ext.JSON.decode(response.result);
      };
      
      Ext.bang.util.startup = function() {

        Ext.direct.Manager.addProvider({
          url: '/bang/getJS',
          type: 'remoting',
          actions: {
            remotejs: [
              {name: 'getJS',            len: 1},
              {name: 'logMessage',       len: 1},
              {name: 'broadcastMessage', len: 1}
            ]
          }
        });

        remotejs.getJS({ js: 'interface.js', app: 'bang'}, Ext.bang.util.run);
      };

      Ext.require('Ext.direct.*', Ext.bang.util.startup);      

  body!= body
